html, body {
  height: 100%;
  width: 100%;
  padding: 2px;
}

h1 {
  color: #7b219f;
  font-family: Impact;
  font-size: 21px;  
  text-align: center;
}

.mainMenu {
  float: center;
  margin: 0px 15px;
  text-align: left;
}

.open {
  transform: none;
}

p {
  color: black;
  background-color: grey;
}

footer {
  width:900px; 
  background: #919191; 
  height: 50px;
  color: #000000;  
  border: 1px solid;
  margin: 200px;
}

body {
  background: url('images/fond.png');
  font-family: Arial, serif;
  margin: 0 auto;
  color: black;
}

#logo {
  width: 1000px;
  margin: auto;
  margin : 0;
}

img {
  max-width
}

.btn_primary {
  background: none;
  background-color: white;
  color: black;
 }

.btn {
  background: none;
  background-color: black;
  padding: 10px 20px;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  }
  
.btn_secondary {
  background: none;
  background-color: #919191;
  color: black;
}

.btn_tertiary {
  background: none;
  background-color: white;
  color: black;
}

footer div {
  padding: 15px;
}
  
div {
  border: 1px solid;
  width: px auto;
}

header {
  width:900px; 
  float:left; 
  background: grey; 
  height: 50px;
}

log {
  max-width: 100%;
  height:auto;
  coject-fit: cover;
}
  
.img {
  display: block;
  object-fit: cover;
  width: 10%;
  height: 10%;
}
  
.second {
  display: flex;
  text-align: justify;
  background-color: grey;
}

.second-text {
  padding: 20px;
}
    
background-position {
  right: 10px;
  top: 50%;
}

background-repeat {
  no-repeat;
}

form div > textarea {
height: 195px;
padding: 15px 0px 0px 10px;
}

form div > input::placeholder, form div > textarea::placeholder {
color: white;
}

form div > select:invalid {
color: white;
}

form div > select option {
background: white;
color: #303030;
}

form div {
width: 100%;
display: flex;
flex-direction: column;
min-height: 83px;
margin-top: 25px;
}

form div > label {
margin-bottom: 7px;
font-weight: 600;
}

form div > input, form div > select, form div > textarea {
background: #FFD9D9;
border: none;
border-radius: 5px;
font-size: 16px;
font-weight: 500;
font-family: Montserrat, "sans-serif";
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

form div > input, form div > select {
height: 50px;
padding-left: 10px;
}

form div:last-child {
align-items:center;
margin-top: 20px;
}

body {
font-family: Montserrat, "sans-serif";
display: flex;
justify-content: center;
color: #303030;
}

form button {
width: 450px;
max-width: 500px;
height: 60px;
font-weight: 700;
font-size: 28px;
background: white;
border: rgba(30, 30, 30, 0.5) solid 1px;
border-radius: 5px;
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
color: #303030;
}  





